@model List<ContentUs>
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="اراء المستخدمين">
            <h2>Testimonials</h2> 
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

       
        <center>
            @foreach (var item in Model)
            {
                <div class="owl-item cloned col-8" >
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @item.Message
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="~/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>@item.Name</h3>
                        <h4>@item.Subject</h4>
                    </div>
                </div>

            }
        </center>

                <!-- End testimonial item -->

           

    </div>
</section><!-- End Testimonials Section -->